body {
    margin: 0;
    color: #fff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
    display: flex;
    min-height: 100vh;
    line-height: 1.1;
    flex-direction: column;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    justify-self: start;
    height: 10vh;
}

.calculator {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.case {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 80%;
    background-color: #404050;
    border-radius: 2vh;
}

.display {
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-self: center;
    justify-content: end;
    align-items: center;
    background-color: rgb(129, 161, 136);
    border-radius: 2vh;
    color: #28342a;
    margin: 1vh;
    font-size: 24;
}

.display h2 {
    margin: 0;
    margin-right: 1vw;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    height: 85%;
    width: 90%;
}

button {
    all: unset;
    background-color: rgb(59, 59, 59);
    color: #fff;
    border-radius: 20%;
    font-size: 24px;
}

.content h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

.content p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.5;
}
